@{
    ViewData["Title"] = "Share Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .donate-now {
        list-style-type: none;
        margin: 25px 0 0 0;
        padding: 0;
    }
    .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
    }
    .donate-now input[type="radio"]:checked + label,
    .Checked + label {
        background: lavender;
    }
    .donate-now label {
        padding: 5px;
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 90;
        border-radius: 10px;
    }
    .donate-now label:hover {
        background: #DDD;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h2 class="h2_title" style="margin: 25px auto;" align="Center"> Add New Member</h2>
                <div class="col align-self-center">
                    <form action="" id="frmShareDetails">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <input type="hidden" id="Id" />
                                <label for="memberId">Member</label>
                                <select class="form-control" name="memberId" id="memberId"></select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="year">Year</label>
                                <select class="form-control" name="year" id="year">
                                    <option selected value="">Select...</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="month">Month</label>
                                <select class="form-control" name="month" id="month">
                                    <option selected value="">Select...</option>
                                    <option value="1">Janaury</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="noOfShare">Share</label>
                                <input type="text" name="noOfShare" id="noOfShare" class="form-control">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="amount">Amount</label>
                                <input type="text" name="amount" class="form-control" id="amount">
                            </div>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <input type="button" id="btnSave" class="btn btn-success" value="Save Changes">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <span id="totalCount" style="display:none;">0</span>
                        <br />
                        <table id="tblMembers" style="width:100%;" class="table table-bordered mb-0 table-centered table-hover table-sm">
                            <thead>
                                <tr style="line-height:1.6;background-color: aliceblue;">
                                    <th>SL No</th>
                                    <th>Member</th>
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>No Of Share</th>
                                    <th>Amount</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts{
    <script type="text/javascript">
        let response = "";
        (() => {
            getShareData();
            getAllMembers();
            $("#year").val(new Date().getFullYear());
            $("#frmShareDetails").validate({
                rules: {
                    memberId: { required: true },
                    year: { required: true },
                    month: { required: true },
                    noOfShare: { required: true },
                    amount: { required: true }
                },
                messages: {
                    memberId: 'Member is required',
                    year: 'Year is required',
                    month: 'Month is required',
                    noOfShare: 'Share is required',
                    amount: 'Amount is required'
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        })()
        function getAllMembers() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: '/Member/GetAllMembers',
                dataType: "json",
                type: 'get',
                success: function (res) {
                    $("#memberId").empty();
                    let option = `<option value="">Select...</option>`;
                    $.each(res, function (key, val) {
                        option += `<option value="${val.id}">${val.nameInEnglish}</option>`;
                    });
                    $("#memberId").append(option);
                }
            });
        }
        function clear() {
            $("#Id").val(0);
        }
        $(document).on("click", "#btnSave", function () {
            if ($("#frmShareDetails").valid()) {
                var requestBody = {
                    MemberId: +$("#memberId").val(),
                    Year: +$("#year").val(),
                    Month: +$("#month").val(),
                    NoOfShare: +$("#noOfShare").val(),
                    Amount: +$("#amount").val(),
                    Id: +$("#Id").val()
                };
                $("#btnSave").prop("disabled", true);
                $.ajax({
                    url: '/Member/CreateShare',
                    dataType: 'json',
                    data: requestBody,
                    type: 'post',
                    success: function (res) {
                        if (res.type == "Success") {
                            toastr.success(res.message, res.type);
                            $("#btnSave").prop("disabled", false);
                            clear();
                            getShareData();
                        }
                        else {
                            toastr.error(res.message, res.type);
                        }
                    },
                    error: function (request, status, error) {
                        $("#btnSave").prop("disabled", false);
                    }
                });
            }
        });
        function getShareData() {
            var num = 0;
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: '/Member/GetAllShares',
                dataType: "json",
                type: 'get',
                success: function (res) {
                    response = res;
                    $("#totalCount").html("Total: " + res.length);
                    $("#totalCount").show();
                    $("#tblMembers tbody").empty();
                    let content = ``;
                    $.each(res, function (key, val) {
                        content += `<tr>
                                        <td>${++num}.</td>
                                        <td>${val.memberName}</td>
                                        <td>${val.year}</td>
                                        <td>${val.monthName}</td>
                                        <td>${val.noOfShare}</td>
                                        <td>${val.amount}</td>
                                        <td class="text-center"><button type="button" onclick="editRow(${val.id})" class="btn btn-success btn-sm"><i class="fas fa-edit"></i>&nbsp;Edit</button></td>
                                    </tr>`;
                    });
                    $("#tblMembers tbody").append(content);
                }
            });
        }

        let editRow = (id) => {
            $("#Id").val(id);
            let object = response.find(x => x.id == id);
            $("#englishName").val(object.nameInEnglish);
            $("#banglaName").val(object.nameInBangla);
            $("#dob").val(object.dateOfBirth);
            $("#nidNo").val(object.nidNumber);
            $("#phone").val(object.phone);
            $("#email").val(object.email);
            $("#address").val(object.address);
        }
    </script>
}